{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Корзина</h2>

    {% if not request.session.cart %}
        <p>Ваша корзина пока пуста.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }} ₸</td>
                    <td>{{ item.total_price }} ₸</td>
                    <td>
                        <form action="{% url 'remove_from_cart' cart_id=item.product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
